body {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

}

.frame {
  background-color: rgb(200, 227, 187);
  border-radius: 20px;
  width: 450px;
  height: 550px;
  padding: 50px;
  border: 6px solid rgb(65, 134, 69);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.list-frame {
  width: 350px;
  height: 375px;
  background-color: white;
  border-radius: 9px;
  border: 10px solid rgb(180, 201, 180);
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color:rgb(244, 244, 244);
  align-items: center;
}

.date {
  transform: translate(-10px, -20px);

  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 40px;
  font-weight: bold;
  flex: 1;
  white-space: nowrap;
}

.title {
  transform: translate(-50px, -10px);
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 40px;
  font-weight: bold;
  flex: 1;
  white-space: nowrap;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.history {
  transform: translate(15px,-30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
}

a.history, a.home {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.history img, .home img{
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.historyIcon, .homeIcon {
  position: relative;
  display: inline-block;
}

a.history:hover, a.history:hover .overlay, a.home:hover, a.home:hover .overlay {
  color: black;
  opacity: 1;
  font-weight: bold;

}

.history .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('pics/todolistHistoryIconcopy.png');
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.home .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('pics/todolistHomeIconHover.png');
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.home {
  transform: translate(87px, -30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
}

.home:hover .homeIcon img, .history:hover .historyIcon img{
  display: block;
  opacity: 0;
}

.home:hover .overlay, .history:hover .overlay {
  opacity: 1;
}

.newTask {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 300px;
  border-radius: 10px;
  border: 5px double rgb(200, 227, 187); 
  margin: 10px;
  position: relative;
  padding: 5px;
  background-color: white;
  color: black;
  list-style: none;
  font-size: 15px;
  user-select: none;
  cursor: pointer;
}

ul li span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

ul li span:hover {
  cursor: pointer;
}

button {
  width: 200px;
  height: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-radius: 10px;
  border: 0;
  border-bottom: 2px solid rgb(227, 227, 227);
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: rgb(252, 255, 240);
  flex-shrink: 0;    
}

button:hover {
  background-color: rgb(236, 239, 223);
  border-left: 1px solid rgb(227, 227, 227);
  border-right: 1px solid rgb(227, 227, 227);
  border-bottom: 2px solid rgb(207, 207, 207);
  cursor: pointer;
}

button:active {
  background-color:rgb(222, 225, 206);
  border-left: 1px solid (207, 207, 207);
  border-right: 1px solid (207, 207, 207);
  border-bottom: 1px solid (187, 187, 187);
}







