body {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;

}

.frame {
  background-color: rgb(200, 227, 187);
  border-radius: 20px;
  width: 450px;
  height: 550px;
  padding: 50px;
  border: 6px solid rgb(65, 134, 69);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

}

.list-frame {
  width: 350px;
  max-height: 375px;
  height: 375px;
  border-radius: 9px;
  border: 10px solid rgb(180, 201, 180);
  display: flex;
  flex-direction: column;
  background-color:rgb(244, 244, 244);
  align-items: center;
  overflow:auto;
  position: relative;
}

.date {
  transform: translate(-10px, -20px);

  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 40px;
  font-weight: bold;
  flex: 1;
  white-space: nowrap;
  cursor: default;
}

.title {
  transform: translate(-50px, -10px);
  font-smooth: never;
  -webkit-font-smoothing: none;
  font-size: 40px;
  font-weight: bold;
  flex: 1;
  white-space: nowrap;
  cursor: default;
}

.top {
  display: flex;
  flex-direction: row;
  gap: 0px;
  padding-top: 20px;
}

.history {
  transform: translate(15px,-30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
}

a.history, a.home {
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.history img, .home img{
  display: block;
  width: 100%;
  height: auto;
  z-index: 0;
  position: relative;
}

.historyIcon, .homeIcon {
  position: relative;
  display: inline-block;
}

a.history:hover, a.history:hover .overlay, a.home:hover, a.home:hover .overlay {
  color: black;
  opacity: 1;
  font-weight: bold;

}

.history .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('pics/todolistHistoryIconcopy.png');
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.home .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('pics/todolistHomeIconHover.png');
  opacity: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.home {
  transform: translate(87px, -30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
}

.home:hover .homeIcon img, .history:hover .historyIcon img{
  display: block;
  opacity: 0;
}

.home:hover .overlay, .history:hover .overlay {
  opacity: 1;
}

#list-con {
  list-style-type: disc;
  max-height: 370px;
  height: 370px;
  width: auto;
  box-sizing: border-box;
  flex: 1;
}

.newTask {
  height: auto;
  width: auto;
  max-height: 100px;
  max-width: 300px;
  border-radius: 10px;
  border: 5px double rgb(200, 227, 187); 
  margin: 10px;
  position: relative;
  padding: 12px 15px 12px 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  user-select: none;
  list-style: none;
  cursor: text;
}

.newTask:hover {
  box-shadow: 0 0 5px 0 rgb(14, 205, 0);
}

.newTask::before {
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-position: center;
  border: 2px solid rgba(0, 0, 0, 0.261); 
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.newTask.checked {
  text-decoration: line-through;
  text-decoration-color: rgb(180, 201, 180);
  color: #555;
}

.newTask.checked::after {
  content: '';
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-position: center;
  background-color: rgb(175, 201, 175);
  left: 22px;
  top: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

ul div span {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

ul div span:hover {
  cursor: pointer;
}

.button-wrapper {
  position: sticky;
  top: 0;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  z-index: 2; 
  margin: 0 auto;
}

button {
  width: 200px;
  height: 30px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  border-radius: 10px;
  border: 0;
  border-bottom: 2px solid rgb(227, 227, 227);
  border-left: 1px solid white;
  border-right: 1px solid white;
  background-color: rgb(252, 255, 240);
  flex-shrink: 0;    
  box-shadow: 0 0 15px 0 rgb(214, 214, 214);
}

button:hover {
  background-color: rgb(236, 239, 223);
  border-left: 1px solid rgb(227, 227, 227);
  border-right: 1px solid rgb(227, 227, 227);
  border-bottom: 2px solid rgb(207, 207, 207);
  cursor: pointer;
}

button:active {
  background-color:rgb(222, 225, 206);
  border-left: 1px solid (207, 207, 207);
  border-right: 1px solid (207, 207, 207);
  border-bottom: 1px solid (187, 187, 187);
}
 
.fade-overlay {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: linear-gradient(
    to top,
  rgba(255,0,0,0), 
  rgba(244,244,244,1)
  );
}






